li {
  list-style: none;
}

ul.nav.navbar-nav.navbar-right {
}


ol > li {
  list-style: decimal !important;
}

.receive-address {
  width: 300px;
}

.footer a:hover {
  text-decoration: underline !important;
}

a.black {
  color: #000 !important;
  font-weight: normal !important;
}

a.black:hover {
  color: #000 !important;
  font-weight: normal !important;
}

a.no-bold {
  font-weight: normal !important;
}

a.no-bold:hover {
  font-weight: normal !important;
}

a:hover {
  cursor: pointer;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.table > thead > tr > th {
  border: 0px;
}

.p-5 {
  padding: 5px;
}

.h-cursor {
  cursor: pointer;
}

.good-tab-info {
  width: 100%;
  min-height: 100px;
}

#my-carousel {

}

.g-price {
  font-size: 18px;
  font-weight: bold;
}

.top-50 {
  margin-top: 50px;
}

.wrapper {
  margin: auto;
}

.block-wrapper-10 {
  margin: 10px;
  padding: 10px;
}

.sub-wrapper {
  padding: 0px 15px;
  width: 100%;
}

.padding-20 {
  padding: 20px;
}

.padding-15 {
  padding: 15px;
}

.logo {
  width: 160px;
}

#header-info {
  width: auto;
  height: auto;
  padding: 10px 0px;
}

.carousel-control .left {
  
}

.rounded {
 border-radius: 5px;
}

#why-us, #how, #buy, #process {
  background-color: white;
  text-align: center;
}

#buy {
  padding: 50px 0px 0px 0px;
}

i.professional {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -11px -145px;
  display: inline-block;
}

i.reliable {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -225px -145px;   
  display: inline-block;
}

i.personal {
  width: 95px;
  height: 95px;
  background: url(../imgs/carousel/img-sprite.png) no-repeat -118px -145px;   
  display: inline-block;
  vertical-align: center;
}

.footer {
  padding-top:30px;

}

.footer-top {
  text-align:center;
}

.t-center {
  text-align: center;
}

#login-box {
  margin: 60px 10% 0 10%;
  width: 80%;
  min-height: 320px;
  background: #fff;
}

#register-box {
  margin: 60px 10% 0 10%;
  width: 80%;
  min-height: 320px;
  background: #fff;
}

#retrieve-box {
  margin: 60px 10% 0 10%;
  width: 80%;
  min-height: 320px;
  background: #fff;
}

.good-item {
  background: white;
}

.good-img {
  width: 98%;
  padding-top:1%;
  transition: width 0.5s, padding-top 0.5s;
  border-radius: 2px;
  -moz-transition: width 0.5s, -moz-transform 0.5s;
  -webkit-transition: width 0.5s, padding-top 0.5s, -webkit-transform 0.5s;
  -o-transition: width 0.5s, -moz-transform 0.5s;
}

.good-img:hover {
  padding-top: 0px;
  width: 100%;
}


.footer-link a {
  color: #333333;
  padding: 0px 10px;
}

.footer-link a:hover {
  text-decoration: none;
}

.process-img {
  padding: 5px;
  width: 50px;
}

.good-nav {
}

.good-nav > li > a {
  font-size: 18px;
  color: #aaa;
}

.good-nav > li > a:hover {
  color: #fff;
  font-weight: bold;
}

#b-top {
  position:fixed;
  display:none;
  top: 70%;
  right: 5%;
  width: 25px;
  padding: 5px;
  border-radius: 2px;
  background: #ffffff;
  text-align: center;
}

#b-top a {
  color: #666666;
  text-decoration: none;
}

.banner-btn {
    
}

.profile-menu li a {
  color: #666666;
  text-align: center;
  font-size: 16px;
}

.profile-menu li.active {
  background: white;
  color: #333;
}

.profile-wrapper {
  padding: 20px 0px;
}

.btn-right {
  float: right;
}

#header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  z-index: 10000;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.top-100 {
  margin-top: 100px;
}

.container {
  /*padding: 0;*/
  /*margin-left: 0;*/
  /*margin-right: 0;*/
  
}

.bk-red {
  background-color: red;
  display:block;
}

.profile-wrapper {
  border: 1px solid #dddddd;
  border-radius: 4px;
  margin: 0px;
  padding: 5px;
}

li.media {
  background: white;
  padding: 5px;
  margin: 5px 0px;
}

.media-body {
  width: 75%;
  text-align: left;
}

.media-right {
  padding: 0 10px;
}

.in-line {
  display: inline;

}

.foot-bar {
  width: 100%;
  background: #ddd;
  margin-top: 50px;
  bottom: 0px;
}

.footer-bottom {
  padding: 10px 15% 20px 15%;
}

.box {
  width: 100%;
  margin: 10px 0px;
  padding: 15px 0px;
  border-width: 1px;
  /*border-radius: 4px;*/
  /*border:1px solid rgba(0,0,0,.15);*/
  border: 1px solid #eee;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  /*-webkit-padding-start: 0px;*/
  /*box-shadow: 0 6px 12px rgba(0,0,0,.175);*/
}

ul.dropdown-menu {
  pacity: 0.8;  
  opacity:.80;  
  filter: alpha(opacity=80);
}

.gray-light {
  background: #eee;
}

.tab-banner {
  width: 100%;
  padding: 5px;
  text-align: center;
}

.tab-content {
  width: 100%;
  padding: 10px 5px;
  text-align: center;
}

.require {
  color: red;
}

.padding-5 {
  padding: 10px 5px;
}

.edit-info {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  display: none;
}

.person-info {
  width: 100%;

}

.form-img-upload {
  min-height: 30px;
  border-radius: 5px;
  background-color: #eee;
}

.upload-img {
  
}

.hide {
  display: none;
}


.width-60 {
  width: 60%;
}

#comment {
  min-height: 120px;
}

#customer-info, #car-info, #quan {
  padding-bottom: 0px;
}

.width-50 {
  width: 50%;
}

#addr {
  width: 450px;
}

.footer-link {
  width: 100%;
}

.footer-link div {
  padding: 0px 1px;
  border-right: 1px solid #ccc;
}

.footer-link a {
  padding: 0px 1px;
}

.contact-icon {
  width: 12px;
}

#order-info, #deliver {
  padding-top: 0px;
  padding-bottom: 0px;
}

.block-head {
  width: 100%;
  padding: 5px 20px;
  background: #eee;
}

.block-body {
  width: 100%;
  padding: 20px;
}

.v-middle {
  padding: 4px 5px 0px 5px;
}

.line-info {
  padding: 0px 5px;
}

#next-step {
  padding-left: 0px;
}

.content-body {
  height: 100%;
}


@media (min-width: 1200px) {
  .container {
    width: 1000px; 
  }

  .margin-wide {
    padding: 15px 100px;
  }

  .p-i-img {
    height: 45px; 
  }

  .receive-address {
   
    width: 250px;
  
  }
  
}

@media (min-width: 1600px)  {
  .container {
    width: 1280px;  
  }

  .margin-wide {
    padding: 0px 100px;
  }

}

.banner-img {
  width: 100%;
  height: 480px;
  margin: 0px;
  padding: 0px; 
}

ul.process {
  padding: 0px 10%;
  display: block;
  
}

.process-line {
  background: #ddd;
  height: 3px;
  width: 24%;
  margin: 20px 2px;
}

#process-bar {
  margin: 0px 0px 50px 0px;
  text-align: center;
} 
#process-bar li {
  list-style: none; 
  float: left;
}


@media (max-width: 1366px) {
  .p-i-img {
    width: 51px;
  }

  .process-line {
    margin: 25px 0;
  }

  .logo {
    width: 145px; 
  }

}

@media (max-width: 768px) {
  .p-i-img {
    width: 36px;
  }

  .process-line {
    margin: 15px 0;
  }

  .logo {
    width: 130px; 
    margin: 0 10px;
  }

  .container {
    width: 600px; 
     
  }

  .receive-address {
  
    width: 120px;
  
  }

  .meta-content {
    text-align: center; 
  }

}

@media (max-width: 580px) {
  .p-i-img {
    width: 28px;
  }

  .process-line {
    margin: 12px 0;
  }

  .logo {
    width: 100px; 
    margin: 0 10px;
  }

}

@media (max-width: 480px) {
  .p-i-img {
  
   }

   .process-line {
     margin: 10px 0; 
   }

}

.padding-top-3 {
  padding-top: 3px;
}

.padding-top-5 {
  padding-top: 5px;
}

.none-border {
  border: 0px;
}

.info {
  font-size: 16px;
  font-color: #999;
  font-weight: bold;
  height: 40px;
}

.width-100 {
  width: 100% !important;
}

.t-left {
  text-align: left;
}

div.quan-itm {
  color: #fff;
  cursor: pointer;
  padding: 10px;
  position: absolute;
  z-index: 10002;
  top: 0px;
  left: 15%;
  width: 70%;
  font-size: 16px;
}


.quan-list {
  text-align: center;
  padding: 10px;
}

.good-info-desc {
  padding: 10px 30px;
}

.good-info-desc > ol {
}

.good-info-desc > ol > li {
  padding: 5px 5px;
}

/*
 * animation three bounce
 */
.sk-three-bounce {
  margin: 15px auto;
  width: 60px;
  text-align: center;
}

.sk-three-bounce .sk-child {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-threeBounceDelay 1.4s infinite ease-in-out both;
  animation: sk-threeBounceDelay 1.4s infinite ease-in-out both;
}

.sk-bounce1 {
  background: #fcf8e3;
}

.sk-bounce2 {
  background: #dff0d8;
}

.sk-bounce3 {
  background: #31b0d5;
}

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-threeBounceDelay {

  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform : scale(1);
    transform: scale(1);
  }

}


@keyframes sk-threeBounceDelay {

  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform : scale(1);
    transform: scale(1);
  }

}

.r-trans {
transition: width 0.5s, height 0.5s;
-moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
-webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
-o-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
}

.r-trans:hover {
transform:rotate(5deg);
-moz-transform:rotate(5deg); /* Firefox 4 */
-webkit-transform:rotate(5deg); /* Safari and Chrome */
-o-transform:rotate(5deg); /* Opera */
}

.g-num {
  width: 50px;
}

.login-panel {
  padding-top: 0px;
  height: 360px;
}

.login-panel > div.panel-heading {
  text-align: center;
  font-size: 18px;
}

.login-intro {
  height: 360px;

}

.upload-iframe {
  border: 0px;
  width: auto;
  height: auto;
  display: block;
}

.width-100 {
  width:100%;
}

.no-margin {
  margin: 0px !important;
}

.progress-sm {
  height: 10px;
  margin: 0 0 10px 0;
}

.no-padding {
  padding: 0px !important;
}

.no-padding-left {
  padding-left: 0;
}

.margin-5 {
  margin: 5px;
}

.alert-info-border {
  border: 1px solid #f2dede;
}

.fade {

}

.modal-dialog {

  top: 100px;

}

#price-pad {
  position: fixed;
  border-radius: 0 0 5px 5px;
  width: 120px;
  height: 200px;
  top: 240px;
  right: 15px;
  padding-top: 0px;
  border: 0px;
}

.total-price {
  color: red;
  font-size: 18px;
}

li.bouns {
  margin: 0px 0px 30px 0px;
}

.q-price {
  font-size: 32px;
}

div.selected-boun {

}

.home-block {
  padding: 50px 0px;
}

.icon-bar {
  background-color: #eee;
}

.font-black {
  color: #111;
}

.menu-gray {
  background-color: #eee;
  margin: 10px 5px;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
}

.menu-gray > img {
  width: 20px;

}

.h-70 {
  height: 70px;
}

.home-section {
  font-size: 46px;
}

.a-login-block {
  width: 400px;
  height: 240px;
  padding: 0px;
  margin: 10% 35%;
}

.a-login-block h2 {
  background-color: #f95252;
  border-radius: 20px 20px 0 0; 
  font-size: 24px;
  color: #fff;
  padding: 20px 26px;
  margin: 0px;
}

.a-login-block fieldset {
  margin: 0px;
  border-radius: 0 0 20px 20px;
  padding: 20px 26px;
  background: #fff;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.a-login-block p {
  text-align: center;
}

.a-login-block  button {
  background-color: #33cc77;
  color: #fff;
  border: 0px;
  border-radius: 3px;
  padding: 5px 20px;
  font-size: 18px;
}

#admin-login { 
  width: 100%;
  height: 100%;
}

.nav-vertical {
  text-align: center;
  font-size: 28px;
  padding: 50px 0px;
  border-right: 1px solid #eee;
}

.container-fluid {
  height: 100%;
  display: block;
}

.nav-vertical a {
  color: #f95252; 
}

.nav-vertical a:hover {
  font-size: 30px;
}

.admin-content {
  width: 100%;
  height: 100%;
  padding: 20px 10px;
}

.l-m-itm {
  border-radius: 2px;
}

.list-page {
  margin: 10px;
  padding: 10px;
}

.tab_title {
  color: #999;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

#price-pad hr {
  border-top: #ccc 1px solid !important;
}

#price-pad span {
  float: right;
}

#price-pad p {
  text-align: left !important;
  margin: 0px;
  padding: 1px 3px;
}

.price-divider {
  margin: 3px;
}

.intro-bar {
  width:60%;
  left:20%;
  height:3px;
  background:#ddd;
  position:absolute;
  margin-top:35px;
}

.good-img {


}

.no-padding {
  padding: 0px;
}


.s-d-caption{
  color: #000;
}

.pagination > li {
 margin: 0px 3px; 
}


.line-header {
 background: #eee; 

}

.good-block:hover {
  color:#FF8800;
}

.process-bar-img {
  
  height: 70px;

}

@media (max-width: 1200px) {

  .process-bar-img {
  
    height: 60px;
  
  }

  .intro-bar {

    margin-top: 30px;
  
  }

}

@media (max-width: 768px) {

  .process-bar-img {
  
    height: 50px;
  
  }

  .intro-bar {

    margin-top: 25px;
  
  }

}

@media (max-width: 640px) {

  .process-bar-img {
  
    height: 40px;
  
  }

  .intro-bar {

    margin-top: 20px;
  
  }

}

.nav-tabs > li.active > a {
  background-color: #138ed1  !important;
  border-radius: 0px;
  color: #fff !important;
  text-align: center;
  margin: 0px;

}

.nav-tabs > li > a {

  background-color: #EEEEEE;
  border-radius: 0px;
  color: #aaaaaa;
  text-align: center;
  margin: 0px;

}

.no-border {
  border: 0px !important;
}

.price-pad-bk {
  width: 100%;
  height: 100%;
}

.price-content {
  position: absolute;
  top: 10px;
  left: 8px;
}

div.seq-num {
  padding: 0 5px;
  float: left;
}

div.seq-content {
  padding: 0 5px;
  float:left;
}

div#youhui-alert {
  display: none; 
  padding: 6px;
}

.solve-title {
  color: white;
  background: #00BBFF;
  padding:3px;
  border-radius: 3px;
  margin: 5px;
}

.qr-code {
  position: fixed;
  width: 8%;
  top: 55%;
  left: 1%;
}

.focus-brand {
  padding: 2px;
  font-weight: bold;
  color: #999;
  font-size: 11px;
  position: absolute;
  bottom: 16%;
  left: 10%;
}

.order-head {
  padding: 10px 0px;
  background: #eee;
  color: #999;
  border: 1px solid #ddd;
  margin-bottom: 5px;
}

.order-title {
  width: 100%;
  padding: 5px 10px;
  background: #eee;
}

.order-body {
  border: 1px solid #eee;
  padding: 5px;
  margin-bottom: 5px;
  height: 80px;
}

.order-content {
  padding: 0 0 10px 0;

}

.order-col {
  text-align: center;
  padding: 0;
  margin-top: 20px;
}

.login-logo {
  width: 100%;
  padding: 10px;
}

.register-issue {
  font-size: 12px;
}

#payed-done {
  background: url('/imgs/mass.png') no-repeat 15px -498px;
  width: 50px;
  height: 50px;
  display: block;
}

.phone-400 {
  background: url('/imgs/mass.png') no-repeat 9px -398px;
  display: block;
}

#top-phone-400 {
  width: 30px;
  height: 30px;
}

.btn-banner {
  background-color: #FF8800;
  color: white;
  padding: 5 20px;
}

.btn-banner:hover {
  background-color: #FF8800 !important;
  color: white;
  padding: 5 20px;
}

#order-num {
  display: block;
  position: absolute;
  width: 5px;
  height: 5px;
  background: red;
}

.pagination  a.active {
  font-weight: bold;
  background-color: #eee;
}

.cooperation-content {
  padding: 3% 5%;
  font-size: 16px;
}

.flow-img {
  position: fixed;
  width: 100px;
  top: 200px;
  min-height: 400px;
  min-width: 300px;
}

@media (max-width: 768px) {

  .process-bar-step, .s-d-caption, .qr-code {
    
    display:none;
  
  }

}

.carousel-caption {
  text-align: right;
}

.tiny-flow-img {
  position: fixed;
  width: 160px;
  height: 160px;
  z-index: 10000;
  background: url('/imgs/wechat-code.png') no-repeat;
}

#nav-province {
  font-size: 18px;
  margin: 0px 20px;
}

#nav-province-list {
  top: 30px;
  left: 20px;
}

#linpai-modal {
  z-index: 10000;

}

.over-all {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #333;
  text-align: center;
  padding: 40% 0;
  filter:alpha(opacity=70);
  -moz-opacity: 0.7;
  -o-opacity: 0.7;
  opacity: 0.7;
  -webkit-opacity: 0.7;
  z-index: 10001;
}

.login-notice {
  position: fixed;
  top: 20%;
  left: 40%;
  width: 35%;
  font-size: 20px; 
  font-color: #666;
  font-weight: bold;
  z-index: 20000;
  text-align: center;
  background: #fff;
}

.links {
  color: #31b0d5 !important;
}

.theme-orig {
 color: #FF8800 !important;
}

.theme-back-orig {
  background: #FF8800 !important;
  color: white;
}

.theme-back-orig:hover {
  color: white;
}

.theme-orig:hover {
 color: #FF8800 !important;
}

.meta-font {
  color: #498dbc;
}

.meta-info {
  background: #ddd;
  border: 1px solid #498dbc;
  min-height: 220px;
  margin: 10px;
  font-size: 12px;
}

.meta-content {
  text-align: left;
}

.problems-notion {
  margin: 0 10px;
}

.pro-head {
  font-size: 16px;
}

.fade-in {
  display: none;
}

.use-card {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  font-weight: bold;
  margin: 0px !important;
}

.t-padding {
  padding: 5px 10px;
}

.use-card:hover {
  cursor: pointer;
  outline: 0;
}

.edit-col {
  color: #999 !important;
}

.use-active {
  border: 2px solid red;
}

.use-active > b {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 12px;
  height: 12px;
  overflow: hidden;
  background: url('/imgs/jdicon.png') no-repeat -202px -224px;
}

.super-light {
  background: #F5F5F5;
}

.table > thead > tr >th {
  border-bottom: 0px !important;
  color: #999 !important;
}

.table > tbody > tr > td {
  border-top: 0px;
  border-bottom: 1px solid #eee !important;
}

.over-elis {
  white-space: nowrap;
  text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis;
  overflow:hidden;
}

#to-pay {
  width: 60%;
}

#passwd-box { 
  z-index:10002;
  padding: 20px;
  position: fixed;
  top: 15%;
  left: 30%;
  width: 40%;
  background: #fff;
}

#passwd-form {
  width: 100%;
}

#pass-submit {
  width: 100px;
}

#pass-dismiss {
  width: 100px;
}

.profile-active {
  background: #138ed1;
}

.profile-active a:hover {
  background: #31b0d5 !important;
} 

.profile-active a {
  color: #fff !important;
}

.triggle-up {
  position: absolute;
  width:0; 
  height:0; 
  left: 48%;
  bottom: 0;
  border-left:10px solid transparent;
  border-right:10px solid transparent;
  border-bottom:10px solid #fff;
}

.btn {
  border-radius: 0px !important;
}

.alert {
  border-radius: 0px !important;
}

.form-control {
  border-radius: 0px !important;
}

.well {
  border-radius: 0px !important;
}

.no-padding-both-side {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.panel {
  border-radius: 0px;
}

.theme-back-blue {
  background-color: #138ed1;
}

.theme-back-blue:hover {
  background-color: #138ed1 !important;
}

.theme-font-blue {
  font-weight: normal !important;
  color: #138ed1 !important;
}

a.theme-font-blue:hover {
  font-weight: normal !important;
  color: #138ed1;
}

#confirm-pay {
  background: #fff;
  z-index: 10005;
  position: fixed;
  width: 30%;
  top: 200px;
  left: 35%;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.alert-red-back {
  background-color: #ebccd1 !important;
}

a.good-tab:hover {
  font-weight: normal !important; 
}

.i-c-img:hover {
  cursor: pointer;
}

.media-font-gray {
  color: #999;
}

.admin-red {
  color: #f95252;
}

.board-control {
  min-height: 400px;
}

.board-control > table > tbody > tr > td {
  white-space: nowrap;
  text-overflow: ellipsis !important;
  -o-text-overflow: ellipsis;
  overflow:hidden;
}

.board-search {
  background: #f5f5f5;
}

#order_info {
  position: fixed;
  width: 80%;
  min-height: 360px;
  left: 10%;
  top: 5%;
  background: #fff;
  z-index: 10005;
  overflow-y: scroll;
}

a:hover {
  font-weight: normal !important; 
}

.profile-active > a:hover {
  background-color: #138ed1 !important;
}

a.theme-back-blue:hover {
  background-color: #138ed1 !important;
}

.padding-4 {
  padding: 4px;
}

.bottom-link {
  margin: 0px 5px;
}

.row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}

a:hover {
  text-decoration: none !important;
}

.no-radius {
  border-radius: 0px !important;
}

.board-img {
  width: 100px;
}

.edit_box {
  top: 20%;
  left: 20%;
  width: 60%;
  min-width: 300px;
  min-height: 200px;
  position: fixed;
  background: #fff;
  z-index: 10006;
  padding: 20px;
}

.no_trans_fee {
  position: absolute;
  top: 0px;
  left: 15px;
  background: url(../imgs/mass.png) no-repeat 0px -435px;
  width: 110px;
  height: 80px;
}

ol.info_list > li {
  padding: 5px 0px;
}

#news_wrapper {
  width: 100%;
  min-height: 300px;
  color: #aaa;
}

#new_content_list, #new_cat_list {
  background: #fff;
}

#new_content_list {
  min-height: 300px;
}

#new_cat_list {
  min-height: 240px;
}

.data-panel {
  border: 1px solid #eee;
  width: 100%;
  min-height: 200px;
  color: #999;
}

.data-panel-head {
  padding: 5px 10px;
  background: #bbb;
  font-size: 20px;
  color: #fff;
}

.data-panel-body {
  padding: 20px 20px;
  font-size: 16px;
}

.news_itm {
  border-bottom: 1px solid #eee;
}

#choose_car_hand {
  position: fixed;
  width: 30%;
  height: 180px;
  top: 30%;
  left: 35%;
  background: #fff;
  z-index: 10005;
}

.ck_button {
  width: 100%;
  padding: 10px;
  cursor: pointer;
}

.ck_checked {
  border: solid #138ed1 1px;
  color: #138ed1;
}

.ck_unchecked {
  background: #ccc;
  color: white;
}

#business_intro {
  height: 120px;
  max-height: 180px !important; 
  max-width: 600px !important;
}

a.bdshare-slide-button {
  display:none !important;
}

a.dropdown-toggle:hover {
  font-family: normal;
  font-size: 14px !important;
}

.btn-primary {
  border: 0px !important;
}

.col-md-offset-15 {
  margin-left: 10%;
}

img.notice-sending {
  position:absolute;
  width: 100%;
  height: 100%;
}

.transparent-50 {
  opacity:.50;  
  filter: alpha(opacity=50);
}

.transparent-100 {
  opacity:.100;  
  filter: alpha(opacity=100);
}

.toast-notice {
  background: url('/imgs/sending.png') no-repeat;
  width: 300px !important;
  min-height: 200px !important;
  padding-top: 40px;
}

.deliver_toggle {
  position: absolute;
  width: 200px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #FF8800;
  left: -60px;
  margin-top: 5px;
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  z-index: 10000;
}
